.promo {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 62.92%, #ffffff 37.08%);

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.promo__slogan {
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.promo__title {
  color: #ffffff;

  @media (min-width: $tablet-width) {
    color: #000000;
  }
}

.promo__link {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
